.pagination-field {
    padding: 0.3rem 0;
    /* margin: 0.25rem 0.375rem; */
    width: 2.5rem;
    text-align: center;
    cursor: pointer;
}

.pagination-field.active {
    border: 0.0625rem solid;
}

.pagination-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.625rem;
}

.pagination-container .btn {
    border: 1px solid;
}
.pagination-container .fa-angle-double-left,
.pagination-container .fa-angle-left,
.pagination-container .fa-angle-double-right,
.pagination-container .fa-angle-right {
    color: #000000af;
    padding: 1rem;
}
