#dropdown-button-drop-0,
#dropdown-button-drop-1,
#dropdown-button-drop-2,
#dropdown-button-drop-3,
#dropdown-button-drop-4 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    background: white;
}

.dropdown-button-drop-0,
.dropdown-button-drop-1,
.dropdown-button-drop-2,
.dropdown-button-drop-3,
.dropdown-button-drop-4 {
    flex: 2;
}

.dropdown {
    display: flex;
    position: relative;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-item {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0.75rem 1.5rem;
    clear: both;
    font-weight: 400;
    font-size: 1rem;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-sub-items::after {
    display: inline-block;
    margin-top: 0.255em;
    margin-bottom: 0.255em;
    content: "";
    border-top: 0.3em solid transparent;
    border-right: 0;
    border-bottom: 0.3em solid transparent;
    border-left: 0.3em solid;
}

.dropdown-item:hover {
    background: #0077bf;
}

.dropdown-divider {
    height: 0;
    overflow: hidden;
    border-top: 1px solid #e9ecef;
}

.show > .btn-light.dropdown-toggle {
    color: #212529;
    background-color: #dae0e5;
    border-color: #d3d9df;
}

.dropdown-toggle {
    white-space: nowrap;
}

.dropdown-subMenu {
    position: absolute;
    left: calc(100% + 0.1rem);
    top: 0;
    padding: 0.5rem 0rem;
    border: 1px solid #000000af;
    background: white;
    width: fit-content;
    max-height: 300px;
    display: none;
    overflow-y: scroll;
}

.dropdown-subMenu.show {
    display: block;
}

.dropdown-subItem {
    padding: 0.5rem 1rem;
}

.dropdown-subItem:hover {
    background: #0077bf;
}
