#home .title {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

#home .filter {
    margin-bottom: 1.5rem;
}

#home .search-key-container .search-key {
    height: 100%;
}

.search-key-container {
    flex: 3;
}

.search-key {
    width: 100%;
    padding: 0.25rem;
}

.search-btn {
    flex: 1;
    background: #0077bf !important;
    border-radius: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home .react-bs-table-bordered {
    border-radius: unset;
}

#home .react-bs-container-header.table-header-wrapper {
    background: #0077bf;
}

#home .react-bs-container-header.table-header-wrapper .table th {
    /* background-color: #0077bf; */
    color: #fff;
    padding: 0.625rem;
    text-align: center !important;
    border: none;
    cursor: pointer;
}

#home .react-bs-container-body .table td {
    /* background-color: #0077bf; */
    border: none;
    padding: 0.3125rem 0.625rem;
    font-size: 14px;
    vertical-align: inherit;
}

.info-indicator span {
    font-size: 0.875rem;
}

.info-indicator .round {
    height: 1.3125rem;
    width: 1.3125rem;
    border-radius: 50%;
    background-color: #0077bf;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-indicator .round.yellow {
    background-color: #cfcf01;
}

.info-indicator .round.red {
    background-color: #b73434;
}

.info-indicator .round.green {
    background-color: #008000;
}

.dropdown {
    display: flex;
}

#home .table  {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;  
}

#home .react-bs-container-header .table {
    margin-bottom: 0;
}

#home .react-bs-container-body .table td .fa-star{
    opacity: .3;
    color: #baba37;
}

#home .react-bs-container-body .table td .fa-star.active{
    opacity: 1;
}

#home .react-bs-container-body .table td .fa-user-friends {
    margin-left: 0.125rem;
    color: #0077bf;
}

#home .add-doc-btn {
    border: 0.125rem solid #0077bf;
    color: #0077bf;
    padding: 0.4375rem 0.9375rem;
    font-size: 1.0625rem;
    cursor: pointer;
}

#home .add-doc-btn .fa-plus {
    color: #0077bf;
    margin-left: 0.5rem;
}
